version: 2.1

jobs:
  sonarcloud_scan:
    docker:
      - image: 'cimg/openjdk:11.0'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=github-sonarcloud-vuln-java-sample -Dsonar.qualitygate.wait=true -Dsonar.analysis.timeout=300

  secrets_scan:
    docker:
      - image: circleci/python:latest
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo pip install trufflehog
      - run: trufflehog --max_depth 0 ~/repo

workflows:
  security_scan:
    jobs:
      - sonarcloud_scan:
          context: SonarCloud_15May23
      - secrets_scan